.chk_profile_active {
    margin-top: 15px;
}

.index_navigator {
    padding-top: 25px;
}

.fieldset_info {
    margin-bottom: 10px;
}

.img_tarjeta_regalo {
    height: 120px;
    display: inline;
}

.image-msg
{
    height: 70px;
    display: inline;
}

@media screen and (max-width: 992px) {
    #active {
        position: static !important;
        margin-left: 0px !important;
    }
}