$red: #E84234;
$yellow: #F9BB06;
$green: #32AB52;
$blue: #4286F7;
$white: #ffffff;

$bg-chat-text: #d2d6de;
$color-heading-chat: #f4f4f4;



.direct-chat-messages {
  -webkit-transform: translate(0,  0);
  -ms-transform: translate(0,  0);
  -o-transform: translate(0,  0);
  transform: translate(0,  0);
  padding: 10px;
  height: 350px;
  overflow: auto;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}
.direct-chat-msg, .direct-chat-text {
  display: block;
}
.direct-chat-msg {
  margin-bottom: 10px;
  width: 100%;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
}


.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid $bg-chat-text;
  margin: 5px 0 0 50px;
  color: #444;
  &:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: $bg-chat-text;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
    border-width: 6px;
    margin-top: -6px;
  }
  &:after {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: $bg-chat-text;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
    border-width: 5px;
    margin-top: -5px;
  }
}

.right {
  .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
    &:before {
      right: auto;
      left: 100%;
      border-right-color: transparent;
      border-left-color: $bg-chat-text;
    }
    &:after {
      right: auto;
      left: 100%;
      border-right-color: transparent;
      border-left-color: $bg-chat-text;
    }
  }
  .direct-chat-img {
    float: right;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}


.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}

.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.direct-chat-name {
  font-weight: 600;
}
.direct-chat-timestamp {
  color: #999;
}

.icons-nav li {
  display: inline;
  font-size: 18px;
  a i {
    cursor: pointer;
  }
}

.icon-blue {
  color: $blue;
}
.icon-red {
  color: $red;
}

.panel-with-border-info {
  border-top: 3px solid $blue;
}
.panel-heading {
  border-bottom: 1px solid $color-heading-chat;
  padding: 0 15px 10px;
}
.badge-number-messages {
  font-size: 12px;
  margin-bottom: 5px;
}
.panel-body {
  max-height: 400px;
  overflow: auto;
  padding: 15px;
}
.panel-chat {
  padding: 15px 0 0 0;
}

.footer-white {
  background-color: white;
}

.oculto {
  display: none;
}

.msg-revertido {
  text-align: center;
  background-color: red;
  border: 1px solid #def1ea;
  padding: 7px;
  border-radius: 7px;
  font-weight: bold;
  color: white;
  margin: 4px;
}